{% extends "layout.html" %}
{% block content %}
<div class="container" style="color:white;text-align:center">
    {% for post in posts %}
        <div class="wrapper">
            <h1 style="justify-content:center;margin-bottom:0">{{post.title}}</h1>
            <p style="margin-top:0">{{post.author}} | {{post.date}}</p>
            <hr style="background:white;padding:0;margin-top:0">
            <p class="main" >{{post.content}}</p>
            <hr style="background:white;padding:0;margin-top:0">
            <p>{{post.read}} readers | up votes:6 | down votes:1</p>
        </div>
    {% endfor %}
</div>

{% endblock %}