body {
    background:black
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  border:0.5px solid white;
  margin-top:30px;
  padding:15px
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
}

.content-section {
    margin:50px 10px 0 0;
    background:green;
    width:50%;
    padding: 10px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.media {
margin-right:50px;
}

.account-img {
    height:150px;
    width:150px;
    margin:10px;
}

.nav-item {
    border-bottom:green .5px solid
}

.nav-item-hover:hover {
    border-bottom:white .5px solid
}

.nav-drop {
    background:black;
    color:white;
}

.nav-drop:hover {
    background:white;
    color:black;
}